<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Number</key>
	<dict>
		<key>NumberRoleCallPlayView</key>
		<dict>
			<key>spriteNames</key>
			<array>
				<string>item_banana.png</string>
				<string>item_hamburger.png</string>
				<string>item_eggplant.png</string>
				<string>item_stawberry.png</string>
				<string>item_egg.png</string>
				<string>item_dinosaur.png</string>
				<string>item_giraffes.png</string>
				<string>item_duck.png</string>
				<string>item_tiger.png</string>
				<string>item_rabbit.png</string>
			</array>
		</dict>
	</dict>
	<key>Color</key>
	<dict>
		<key>ColorCanImgs</key>
		<array>
			<string>red.png</string>
			<string>orange.png</string>
			<string>yellow.png</string>
			<string>green.png</string>
			<string>pink.png</string>
			<string>blue.png</string>
			<string>violet.png</string>
		</array>
		<key>ColorImgs</key>
		<array>
			<string>colorred.png</string>
			<string>colororange.png</string>
			<string>coloryellow.png</string>
			<string>colorgreen.png</string>
			<string>colorpink.png</string>
			<string>colorblue.png</string>
			<string>colorviolet.png</string>
		</array>
		<key>ColorSprites</key>
		<array>
			<array>
				<string>red_apple.png</string>
				<string>red_cherries.png</string>
				<string>red_paprica.png</string>
				<string>red_raspberries.png</string>
				<string>red_strawberry.png</string>
			</array>
			<array>
				<string>orange_auto.png</string>
				<string>orange_bulb.png</string>
				<string>orange_dinosaur.png</string>
				<string>orange_shopping_basket.png</string>
				<string>orange_wooden_stool.png</string>
			</array>
			<array>
				<string>yellow_banana.png</string>
				<string>yellow_bucket.png</string>
				<string>yellow_hand.png</string>
				<string>yellow_lemon.png</string>
				<string>yellow_pencil.png</string>
			</array>
			<array>
				<string>green_apple.png</string>
				<string>green_auto.png</string>
				<string>green_candy.png</string>
				<string>green_UFO.png</string>
				<string>green_vane.png</string>
			</array>
			<array>
				<string>pink_balloon.png</string>
				<string>pink_cloth.png</string>
				<string>pink_flower.png</string>
				<string>pink_milkshake.png</string>
				<string>pink_pig.png</string>
			</array>
			<array>
				<string>blue_basket.png</string>
				<string>blue_candy.png</string>
				<string>blue_christmas_ball.png</string>
				<string>blue_dinosaur.png</string>
				<string>blue_pot.png</string>
			</array>
			<array>
				<string>violet_egg.png</string>
				<string>violet_eggplant.png</string>
				<string>violet_flower.png</string>
				<string>violet_hand.png</string>
				<string>violet_umbrella.png</string>
			</array>
		</array>
	</dict>
	<key>Shape</key>
	<dict>
		<key>Test</key>
		<array>
			<array>
				<string>circle_comp1.png</string>
				<string>circle_comp0.png</string>
				<string>circle_comp2.png</string>
			</array>
			<array>
				<string>square_comp0.png</string>
				<string>square_comp1.png</string>
				<string>square_comp2.png</string>
			</array>
			<array>
				<string>triangle_comp0.png</string>
				<string>triangle_comp1.png</string>
				<string>triangle_comp2.png</string>
			</array>
			<array>
				<string>rectangle_comp2.png</string>
				<string>rectangle_comp0.png</string>
				<string>rectangle_comp1.png</string>
			</array>
			<array>
				<string>pentagon_comp1.png</string>
				<string>pentagon_comp0.png</string>
				<string>pentagon_comp2.png</string>
			</array>
			<array>
				<string>diamond_comp2.png</string>
				<string>diamond_comp0.png</string>
				<string>diamond_comp1.png</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
